
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Idades</title>
</head>
<body>
<h1>Verificar idade</h1> <!-- Título principal da página -->
    <form action="/verificaidade" method="post"> <!-- Formulário para enviar o número para verificação -->
        <label for="idade">Digite um número:</label> <!-- Rótulo do campo de entrada -->
        <input type="number" id="idade" name="idade" required> <!-- Campo de entrada para o número -->
        <button type="submit">Verificar</button> <!-- Botão de envio do formulário -->
    </form>
    <div id="idade">
        {% if resultado %} <!-- Verifica se há um resultado a ser exibido -->
            {{ resultado }} <!-- Exibe o resultado da verificação (par ou ímpar) -->
        {% endif %}
    </div>
</body>
</html>